<h1><%= @recipe.title %></h1>
<h3>Detalhes</h3>
<p>
  Tipo de Receita: <%= @recipe.recipe_type %>
  Cozinha: <%= @recipe.cuisine %>
  Dificuldade <%= @recipe.difficulty %>
  Tempo de preparo <%= @recipe.cook_time %> minutos
</p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %> </p>
<h3>Como Preparar</h3>
<p><%= @recipe.method %> </p>

<h3><%= link_to "Voltar", root_path %></h3>
